<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <link rel="stylesheet" href="/stylesheets/admin-header.css">
    <a class="navbar-brand" href="/admin">
      <img src="/images/admin_logo.jpg" width="30" height="30" class="d-inline-block align-top" alt="Admin Logo">
      Admin Panel
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent"
      aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">All Products</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            More Options
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="/admin/data">All Orders</a>
            <a class="dropdown-item" href="#">Trending Products</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      {{#if admin}}
      <form class="form-inline">
        <a class="btn btn-outline-light my-2 my-sm-0" href="/admin/logout">Logout</a>
      </form>
      {{/if}}
    </div>
  </nav>
</header>