<section class="bottom-footer">
    <div class="row">
        <div class="col-12 mr-auto">
            ©Shopping world 2022 **This is just a fake ecommerce website. All the products and contact details given are
            not
            <p>
                Build by <a href="https://github.com/harshad4321" target="_blank">Harshad.N</a>
            </p>
        </div>
    </div>
</section>