<section class="bottom-footer">
    <div class="row">
        <div class="col-12 mr-auto">
            ©Shopping world 2022 **This is just a fake ecommerce website. All the products and contact details given are
            not
            real. created by Harshad
        </div>
    </div>
</section>