<header>
  <div class="row nav-container mx-auto">
    <div class="col-md-4 col-sm-12 col-xs-12">
      <div class="search-container">
        <form class="form-inline" action="/products/search" method="get">
          <input class=" search-input" type="search" name="searchTerm" class="form-control" placeholder="Search..."
            aria-label="Search" />
        </form>
      </div>
    </div>
    <nav class="col-md-4 col-sm-12 col-xs-12 ">
      <a class="navbar-brand" id="shoping-Brand" href=" /">SHOPPING-World </a>
  </div>
  </nav>
  </div>
</header>