<header>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@500;600&family=Rubik:ital,wght@0,300;0,500;1,300&display=swap"
    rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@500;600&family=Roboto:ital,wght@0,400;1,300&family=Rubik:ital,wght@0,300;0,500;1,300&display=swap"
    rel="stylesheet">




  <div class="row nav-container mx-auto">
    <div class="col-md-4 col-sm-12 col-xs-12">
      <div class="search-container">
        <form class="form-inline" action="/products/search" method="get">
          <input class=" search-input" type="search" name="searchTerm" class="form-control" placeholder="Search..."
            aria-label="Search" />
        </form>
      </div>
    </div>

    <nav class="col-md-4 col-sm-12 col-xs-12  ">
      <a class="navbar-brand" href="/">Shopping Cart </a>

  </div>
  </nav>
  </div>
</header>