<style>
    .profile-pic {
        width: 200px;
        max-height: 200px;
        display: inline-block;
    }

    .file-upload {
        display: none;
    }

    .circle {
        border-radius: 100% !important;
        overflow: hidden;
        width: 128px;
        height: 128px;
        border: 2px solid rgb(10 9 9 / 20%);
        top: 72px;
        margin-left: 120px;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    .p-image {
        margin-left: 212px;
        margin-top: -19px;
        top: 173px;
        right: 108px;
        color: #666666;
        transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
    }

    .p-image:hover {
        transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
    }

    .upload-button {
        font-size: 1.2em;
    }

    .upload-button:hover {
        transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
        color: #999;
    }
</style>
<script>
    $(document).ready(function () {


        var readURL = function (input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('.profile-pic').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }


        $(".file-upload").on('change', function () {
            readURL(this);
        });

        $(".upload-button").on('click', function () {
            $(".file-upload").click();
        });
    });
</script>

<div class="product-container">
    <div class="container">
        <div class="product-box col-md-12">
            <div class="product-main">
                <h2 class="title">My Profile</h2>
                <section style="background-color: #eee;">
                    <div class="container-fluid py-5">
                        <form action="/user/edit-profile/{{user._id}}" method="POST" id="edit-profile-form">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="card mb-4">
                                        <div class="row my-3">
                                            <div class="small-12 medium-2 large-2 columns">
                                                <div class="circle">
                                                    <img class="profile-pic"
                                                        src="https://t3.ftcdn.net/jpg/03/46/83/96/360_F_346839683_6nAPzbhpSkIpb8pmAwufkC7c5eD7wYws.jpg">
                                                </div>
                                                {{!-- <div class="p-image">
                                                    <i class="fa fa-camera upload-button"></i>
                                                    <input name="profilePic" class="file-upload" type="file"
                                                        accept="image/*" />
                                                </div> --}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card mb-4 mb-lg-0">
                                        <div class="card-body p-0">
                                            <ul class="list-group list-group-flush rounded-3">
                                                <li
                                                    class="list-group-item d-flex justify-content-between align-items-center p-3">
                                                    <a href="/orders">
                                                        <p class="mb-0">My Orders</p>
                                                    </a>
                                                </li>
                                                <li
                                                    class="list-group-item d-flex justify-content-between align-items-center p-3">
                                                    <a href="">
                                                        <p class="mb-0">My Whishlist</p>
                                                    </a>
                                                </li>
                                                <li
                                                    class="list-group-item d-flex justify-content-between align-items-center p-3">
                                                    <a href="/cart">
                                                        <p class="mb-0">My Cart</p>
                                                    </a>
                                                </li>
                                                <li
                                                    class="list-group-item d-flex justify-content-between align-items-center p-3">
                                                    <a href="/user/logout">
                                                        <p class="mb-0">Logout</p>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-8">
                                    <div class="card mb-4">
                                        <div class="card-body">
                                            <!--Section: Contact v.2-->
                                            <section class="mb-4">
                                                <div class="row">
                                                    <!--Grid column-->
                                                    <div class="col-md-12 mb-md-0 mb-5">

                                                        <!--Grid row-->
                                                        <div class="row">

                                                            <!--Grid column-->
                                                            <div class="col-md-6">
                                                                <div class="md-form mb-0">
                                                                    <label for="Name" class=""> Name</label>
                                                                    <input type="text" id="Name" name="Name"
                                                                        value="{{user.name}}" class="form-control"
                                                                        onkeyup="validateName()">
                                                                    <p id="NameErr" class="text-danger"></p>
                                                                </div>
                                                            </div>
                                                            <!--Grid column-->


                                                        </div>
                                                        <!--Grid row-->

                                                        <!--Grid row-->
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="md-form mb-0">
                                                                    <label for="name" class="">Email Address</label>
                                                                    <input type="email" id="email" name="email"
                                                                        class="form-control" value="{{user.email}}"
                                                                        onkeyup="validateEmail()">
                                                                    <p id="emailerr" class="text-danger"></p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!--Grid row-->

                                                        <!--Grid row-->

                                                        {{!--
                                                        <!--Grid column-->
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="md-form">
                                                                    <textarea type="text" id="profileAddress"
                                                                        name="profileAddress" rows="2"
                                                                        class="form-control md-textarea"></textarea><label
                                                                        for="name" class="">Address</label>
                                                                </div>
                                                            </div>
                                                        </div> --}}
                                                        <!--Grid row-->
                                                        <div class="text-center text-md-left">
                                                            <button type="button" class="btn btn-secondary"
                                                                data-dismiss="modal">Cancel</button>
                                                            <button type="submit" class="btn btn-primary"
                                                                onclick="return validation()">Save Changes</button>
                                                        </div>
                                                    </div>
                                                    <div class="status"></div>
                                                </div>
                                                <!--Grid column-->
                                            </section>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

<script>

    function validateName() {
        const messg = document.getElementById("Name")
        const con = document.getElementById("Name").value
        if (con == "") {
            messg.innerHTML = "| Fill The Fields"
            return false;
        }
        if (!con.match(/^[a-zA-Z-" "]*$/)) {
            messg.innerHTML = "| Only Alphabets Are Allowed"
            return false;
        }
        messg.innerHTML = ""
        return true;
    }

    function validateLastName() {
        const messg = document.getElementById("lastNameErr")
        const con = document.getElementById("lastName").value
        if (con == "") {
            messg.innerHTML = "| Fill The Fields"
            return false;
        }
        if (!con.match(/^[a-zA-Z-" "]*$/)) {
            messg.innerHTML = "| Only Alphabets Are Allowed"
            return false;
        }
        messg.innerHTML = ""
        return true;
    }

    function validatePhoneNumber() {
        const messg = document.getElementById("moberr")
        const name = document.getElementById('phoneNumber').value
        if (name == "" || name == null) {
            messg.innerHTML = "Enter a mobile number"
            return false
        } else if
            (name.length < 10 || name.length > 10) {
            messg.innerHTML = "Enter a Valid Mobile number"
            return false
        }

        messg.innerHTML = null
        return true
    }
    function validateEmail() {
        const messg = document.getElementById("emailerr")
        const name = document.getElementById('email').value
        if (name == "") {
            messg.innerHTML = "Enter you email address"
            return false


        } else if
            (!name.match(/^\w+([\.-]?\w+)@\w+([\.-]?\w+)(\.\w{2,3})+$/)) {
            messg.innerHTML = 'Enter a proper email adress'
            return false
        }

        messg.innerHTML = null
        return true
    }

    function validation() {
        if (!validateName()) {
            return false;
        }
        return true;
    }

</script>