 body {
     text-align: center;
     padding: 40px 0;
     background: #EBF0F5;
 }

 .success-css {
     color: #88B04B;
     font-family: "Nunito Sans", "Helvetica Neue";
     font-weight: 900;
     font-size: 40px;
     margin-bottom: 10px;
 }

 p {
     color: #404F5E;
     font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
     font-size: 20px;
     margin: 0;
 }

 i {
     color: hsl(84, 39%, 57%);
     font-size: 100px;
     line-height: 200px;
     margin-left: -15px;
 }

 .card {
     background: white;
     padding: 60px;
     border-radius: 4px;
     box-shadow: 0 2px 3px #C8D0D8;
     display: inline-block;
     margin: 95px auto;
     margin-right: 4px;
 }

 /* 
 //-------------------// */
 .animation-ctn {
     text-align: center;
     margin-top: 5em;
 }

 @-webkit-keyframes checkmark {
     0% {
         stroke-dashoffset: 100px
     }

     100% {
         stroke-dashoffset: 200px
     }
 }

 @-ms-keyframes checkmark {
     0% {
         stroke-dashoffset: 100px
     }

     100% {
         stroke-dashoffset: 200px
     }
 }

 @keyframes checkmark {
     0% {
         stroke-dashoffset: 100px
     }

     100% {
         stroke-dashoffset: 0px
     }
 }

 @-webkit-keyframes checkmark-circle {
     0% {
         stroke-dashoffset: 480px
     }

     100% {
         stroke-dashoffset: 960px;

     }
 }

 @-ms-keyframes checkmark-circle {
     0% {
         stroke-dashoffset: 240px
     }

     100% {
         stroke-dashoffset: 480px
     }
 }

 @keyframes checkmark-circle {
     0% {
         stroke-dashoffset: 480px
     }

     100% {
         stroke-dashoffset: 960px
     }
 }

 @keyframes colored-circle {
     0% {
         opacity: 0
     }

     100% {
         opacity: 100
     }
 }

 /* other styles */
 /* .svg svg {
    display: none
}
 */
 .inlinesvg .svg svg {
     display: inline
 }

 /* .svg img {
    display: none
} */

 .icon--order-success svg polyline {
     -webkit-animation: checkmark 0.25s ease-in-out 0.7s backwards;
     animation: checkmark 0.25s ease-in-out 0.7s backwards
 }

 .icon--order-success svg circle {
     -webkit-animation: checkmark-circle 0.6s ease-in-out backwards;
     animation: checkmark-circle 0.6s ease-in-out backwards;
 }

 .icon--order-success svg circle#colored {
     -webkit-animation: colored-circle 0.6s ease-in-out 0.7s backwards;
     animation: colored-circle 0.6s ease-in-out 0.7s backwards;
 }