:root {
  --dark-blue: #478ba2;
  --light-blue: #b9d4db;
  --dark-orange: #e9765b;
  --light-orange: #f2a490;
  --dark-pink: #de5b6d;
  --green: #18a558;
  --ivory: #f9f7f4;
  --black: #202020;
  --dark-gray: #474747;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: 9px "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

header {
  background: #232f3e;
}

.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: #efeded6e;
  border: 1px solid #04fc5be8;
  border-radius: 0.25rem;
}

.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width=' 2' stroke-linecap=' round' stroke-miterlimit=' 10' d=' M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  background-size: 100% 100%;
}

.svg {
  overflow: hidden;
  vertical-align: middle;
  color: #d4d4d4;
}

/* Nav bar */
.navbar-brand {
  font-family: ' Edu VIC WA NT Beginner',
    cursive;
  padding: 1rem 0rem;
  display: flex;
  font-size: 2.25rem;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
}

.container-fluid {
  background-color: black;
}

/* SEARCH BOX */
.search-title {
  font-size: 22px;
  font-weight: 900;
  text-align: center;
  color: #ff8b88;
}

.search-input {
  width: 70%;
  padding: 12px 24px;
  background-color: transparent;
  transition: transform 250ms ease-in-out;
  font-size: 16px;
  line-height: 18px;
  color: #575756;
  background-color: transparent;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: 95% center;
  border-radius: 50px;
  border: 1px solid #10fb3f;
  transition: all 250ms ease-in-out;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.search-input {
  background-color: white;
  color: color(#e8e8de a(0.8));
  letter-spacing: 1.5px;
}

.search-input:hover,
.search-input:focus {
  padding: 12px 0;
  outline: 0;
  border: 1px solid transparent;
  border-bottom: 1px solid #575756;
  border-radius: 0;
  background-position: 100% center;
}



/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}


/* Next & previous buttons */
/* .carousel-control-next-icon, */
/* Sider  */

.carousel-indicators .active {
  background-color: black;
}

.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: -22px;
  left: 8px;
  z-index: 15;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 0;
  margin-right: 15%;
  margin-left: 16%;
  list-style: none;
}

.text-center {
  text-align: center !important;
  color: black;
  touch-action: pan-down;
  /* border: 16px; */
  pointer-events: bounding-box;
  position: static;
  /* object-fit: scale-down; */
  margin-bottom: 155px;
}

/* homepage */


#gw-layout {
  padding: 0 10px 0;
}


.card {
  background-color: #fbfbfb42;
  border-radius: 0.5rem;
}



/* PRODUCTS INDEX PAGE */

.title-link {
  color: var(--black);
  text-decoration: none;
}

.title-link:hover {
  color: var(--dark-gray);
  text-decoration: none;
}

.button-style {
  background-color: #1460eeb4;
  color: var(--ivory) !important;
}

.button-style:hover {
  background-color: var(--light-blue);
  color: var(--black) !important;
}

.button-style-danger {
  background-color: var(--dark-orange);
  color: var(--ivory) !important;
}

.button-style-danger:hover {
  background-color: var(--light-orange);
  color: var(--black) !important;
}

.price {
  color: var(--dark-pink);
  font-weight: bold;
  font-size: 20px;
  margin: 1px 0px 6px 0px;
}

.product-index-box {
  padding: 0.5em;
  margin-bottom: 1em;
  text-align: center;
}

.product-index-box .btn {
  width: 90%;
  margin: 0.3em auto;
}

.product-index-box img {
  width: 90%;
  height: 20em;
  object-fit: cover;
  border: 1px solid #c2c2c2;
  border-radius: 5px;
}


/* Category Card */

.card:hover {
  transform: scale(1.1);
}

.card-img-top {
  width: 100%;
  border-top-left-radius: calc(1.25rem - 7px);
  border-top-right-radius: calc(1.25rem - 7px);
}

.img-zoom-container {
  position: relative;
}

.img-zoom-lens {
  position: absolute;
  /* border: 1px solid #d4d4d4; */
  /*set the size of the lens:*/
  width: 72px;
  background-image: url(https://images-na.ssl-images-amazon.com/images/G/31/apparel/rcxgs/tile._CB483369979_.gif);
  height: 41px;
  cursor: pointer;
}

.img-zoom-result {
  border: 1px solid #d4d4d4;
  /*set the size of the result div:*/
  width: 311px;
  height: 300px;
}

.centerColAlign {
  margin-left: 38.0%;
}

.centerColAlign {
  margin-right: 270px;
}

/* FOOTER */

ul {
  list-style: none;
}

.white-links {
  margin-left: 2.5em;
}

.white-links a {
  font-size: 14px;
  color: var(--ivory);
  margin-right: 1em;
}

.white-links a:hover {
  color: var(--light-blue) !important;
}

.footer-title {
  font-weight: 300;
  color: whitesmoke;
  text-transform: uppercase;
  margin-bottom: 0.3em;
}

#contact {
  text-align: left;
  vertical-align: middle;
  align-items: center;
  color: var(--ivory);
  background-color: var(--black);
  padding: 1em 1em 0.2em 1em;
  border-bottom: 5px var(--dark-blue) solid;
}

.bottom-footer {
  font-size: 14px;
  padding: 1em 1.5em;
  color: var(--ivory);
  background-color: #1a1a1a;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}