:root {
  --dark-blue: #478ba2;
  --light-blue: #b9d4db;
  --dark-orange: #e9765b;
  --light-orange: #f2a490;
  --dark-pink: #de5b6d;
  --green: #18a558;
  --ivory: #f9f7f4;
  --black: #202020;
  --dark-gray: #474747;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: 9px "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

header {
  background: #232f3e;
}

.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: #efeded6e;
  border: 1px solid #04fc5be8;
  border-radius: 0.25rem;
}

.navbar-toggler-icon {
  position: fix;
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width=' 2' stroke-linecap=' round' stroke-miterlimit=' 10' d=' M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  background-size: 100% 100%;
}

.svg {
  overflow: hidden;
  vertical-align: middle;
  color: #d4d4d4;
}

/* Nav bar */
.navbar-brand {
  font-family: ' Edu VIC WA NT Beginner',
    cursive;
  padding: 1rem 0rem;
  display: flex;
  font-size: 2.25rem;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
}


.navbar-brand {
  color: #cc3a2c;
  text-decoration: none;
  background-color: transparent;
  font-family: 'Open Sans', sans-serif;
  -webkit-text-decoration-skip: objects;
}




/* SEARCH BOX */

.search-input {
  width: 70%;
  padding: 12px 24px;
  background-color: transparent;
  transition: transform 250ms ease-in-out;
  font-size: 16px;
  line-height: 18px;
  color: #575756;
  background-color: transparent;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: 95% center;
  border-radius: 50px;
  border: 1px solid #10fb3f;
  transition: all 250ms ease-in-out;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.search-input {
  background-color: white;
  color: color(#e8e8de a(0.8));
  letter-spacing: 1.5px;
  margin-top: 20px;
}

.search-input:hover,
.search-input:focus {
  padding: 12px 0;
  outline: 0;
  border: 1px solid transparent;
  border-bottom: 1px solid #575756;
  border-radius: 0;
  background-position: 100% center;
}

.nav-Cart {

  font-size: 30px;
  font-family: 'Rubik', sans-serif;
}

#navbarID {
  background-color: #ffffff;
}

.bg-light {
  background-color: #dfdfdfe8 !important;
}


.pro-box {
  min-height: 415px;
}

.img-fluid {
  width: auto;
  max-height: 195px;
  margin: auto;
}


/* Next & previous buttons */
/* .carousel-control-next-icon, */
/* Sider  */


.carousel-indicators .active {
  background-color: #c38585e0;
}

.carousel-indicators li {
  cursor: pointer;
  background-color: #7f7e7eb9;
}

/*-- carousel-slider --*/

.carousel-item.item1 {
  background: url(../header/ps5.png) no-repeat center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
}

.carousel-item.item2 {
  background: url(../header/headPhones.png) no-repeat center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
}

.carousel-item.item3 {
  background: url(../header/zfold3_.jpg) no-repeat center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
}

.carousel-item.item4 {
  background: url(../header/b4.jpg) no-repeat center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
}


/* banner*/


.carousel-item.item4,
.carousel-item.item3,
.carousel-item.item2,
.carousel-item.item1 {
  min-height: 640px;
}

.w3l-space-banner {
  padding-top: 9em;
}

.carousel-caption {
  background: rgba(16, 16, 16, 0.27);
  text-align: left;
  position: inherit;
  box-shadow: 0px 2px 2px 2px rgba(2, 2, 2, 0.43);
}

.carousel-caption h2,
.carousel-caption h3 {
  font-size: 60px;
  letter-spacing: 4px;
  text-transform: uppercase;
  text-shadow: 3px 8px 2px rgb(12, 12, 12);
}

.carousel-caption h2 span,
.carousel-caption h3 span {
  font-weight: 800;
  color: #F45C5D;
}

.carousel-caption p {
  letter-spacing: 5px;
  font-size: 24px;
  color: #fff;
  text-shadow: 3px 5px 2px rgb(12, 12, 12);
}

.carousel-caption p span {
  font-size: 40px;
  letter-spacing: 0px;
  font-weight: 600;
}




/*-- carousel-slider --*/

/*-- banner-button --*/

.button2 {
  display: inline-block;
  background: #0879c9;
  border-radius: 4px;
  color: #fff;
  letter-spacing: 2px;
  padding: 11px 27px;
}

.button2:hover,
.button2:focus {
  background: #F45C5D;
  color: #fff;
}




.text-center {
  text-align: center !important;
  color: black;
  touch-action: pan-down;
  /* border: 16px; */
  pointer-events: bounding-box;
  position: static;
  /* object-fit: scale-down; */
  margin-bottom: 155px;
}

/* homepage */


#gw-layout {
  padding: 0 10px 0;
}


.card {
  background-color: #fbfbfb42;
  border-radius: 0.5rem;
}



/* PRODUCTS INDEX PAGE */

.title-link {
  color: var(--black);
  text-decoration: none;
}

.title-link:hover {
  color: var(--dark-gray);
  text-decoration: none;
}

.button-style {
  background-color: #1460eeb4;
  color: var(--ivory) !important;
}

.button-style:hover {
  background-color: var(--light-blue);
  color: var(--black) !important;
}

.button-style-danger {
  background-color: var(--dark-orange);
  color: var(--ivory) !important;
}

.button-style-danger:hover {
  background-color: var(--light-orange);
  color: var(--black) !important;
}

.price {
  color: var(--dark-pink);
  font-weight: bold;
  font-size: 20px;
  margin: 1px 0px 6px 0px;
}

.pricedetail {
  font-weight: bold;
}

.product-index-box .btn {
  width: 100%;
  margin: 0.3em auto;
  color: #fff !important;
  ;
}

.btn {
  color: #fff !important;
  background-color: #000;
  border-color: #000;
}

element.style {
  max-height: 309px;
  max-width: 234px;
}

.lead {
  font-size: 32px
}

element.style {
  max-height: 309px;
  max-width: 234px;
}



/* Category Card {Image zoom}*/

#myimage {
  vertical-align: middle;
  border-style: outset;
  width: -webkit-fill-available;

}

.card:hover {
  transform: scale(1.1);
}

.card-img-top {
  width: 100%;
  border-top-left-radius: calc(1.25rem - 7px);
  border-top-right-radius: calc(1.25rem - 7px);
}

.img-zoom-container {
  position: relative;
}

.img-zoom-lens {
  position: absolute;
  /* border: 1px solid #d4d4d4; */
  /*set the size of the lens:*/
  width: 72px;
  background-image: url(https://images-na.ssl-images-amazon.com/images/G/31/apparel/rcxgs/tile._CB483369979_.gif);
  height: 41px;
  cursor: pointer;
}

.img-zoom-result {
  border: 1px solid #d4d4d4;
  /*set the size of the result div:*/
  width: 311px;
  height: 300px;
}

.centerColAlign {
  margin-left: 38.0%;
}

.centerColAlign {
  margin-right: 270px;
}





/* <admin-pannel> */
#successEdit {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
  margin: 10px;
  width: 74px;
}

#successDelete {
  cursor: pointer;
  margin: 10px;
}

/* footer */

.bottom-footer {

  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-top: 85px;

  width: 100%;
  font-size: 15px;
  padding: 1em 1.5em;
  color: var(--ivory);
  background-color: #1a1a1a;
}

body {
  behavior: 'smooth'
}

#notify_message {
  position: fixed;
  display: none;
  z-index: 9999;
  padding-top: 10px;
  height: 50px;
  bottom: 0px;
  width: 100%;
  text-align: center;
  font-size: 22px;
}



/**
   * #PRODUCT 
   */

/* #gw-layout {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 30px;
  margin-bottom: 30px;
} */
.product-grid .showcase-title:hover {
  color: var(--eerie-black);
}

.showcase-rating {
  display: flex;
  color: hsl(29deg 90% 65%);
  margin-bottom: 10px;
  margin-left: 55px;
}

.showcase-star {
  display: flex;
  margin-bottom: 10px;
  color: hsl(29deg 90% 65%);
}

/* 
.showcase-rating {
  color: hsl(29deg 90% 65%);
  display: flex;
  align-items: center;
  font-size: 16px;
  margin-bottom: 15px;
}

.showcase-rating {
  display: flex;
  align-items: center;
  color: hsl(29deg 90% 65%);
  font-size: 13px;
  padding: 4px 0;
} */