body {
  background-color: rgba(47, 47, 44, 0.432);
}

header {
  background: #232f3e;

}

/* Nav bar */
.navbar-brand {
  font-family: ' Edu VIC WA NT Beginner',
    cursive;
  padding: 1.5rem 0rem;
  /* font-size: 2.25rem; */
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}


/* Next & previous buttons */
/* .carousel-control-next-icon, */


/* Sider  */

.carousel-indicators .active {
  background-color: black;
}

.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: -22px;
  left: 8px;
  z-index: 15;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 0;
  margin-right: 15%;
  margin-left: 16%;
  list-style: none;
}